@model IEnumerable<UnitedWayPrototypeApplication.Models.AgencyModel>

@{
    ViewBag.Title = "Agency Overview";
}

<h2>Agency Overview</h2>

<p>
    @Html.ActionLink("Create New Agency", "CreateAgency")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AgencyID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgencyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgencyStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgencyDateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgencyDateLastEdited)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AgencyID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgencyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgencyStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgencyDateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgencyDateLastEdited)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditAgency", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
